html, body, ul, ul li { margin:0; padding:0; }

body { font-family: 'Averia Libre', Georgia, serif; font-weight:300; background:#000; font-size:13px }

#cr-stage { margin:12px auto 8px auto; }

/*UI STYLES-------------------------------------------------------------*/

#menu { width:768px; margin:0px auto; }

	#message { color:yellow; height:28px; padding-top:6px; font-size:15px; }

	#buttons, #choices, #inventory { float:left; }
	
	#buttons { width:250px; }
	
		#buttons ul li { float:left; color:#fff; margin-right:8px; width:60px; list-style-type:none; text-align:center; margin-bottom:8px; }
	
	#choices { width:600px; }
	
	#inventory { width:400px; }
	
		#inventory ul li { float:left; width:32px; height:32px; background:#fff; padding:3px; margin-right:8px; list-style:none; opacity:0.8; }
		
			#inventory ul li:hover { opacity:1; }
	
	#buttons ul li:hover, .choice:hover { color:yellow; }

.short { text-decoration: underline; }

/*.pocket{ cursor:default; border:1px solid #000; }*/

.Dialogue, #message { font-weight:700; }

/*.Debug { border: 1px solid red }*/

#choices {display:none; color: white}

/*Clickable items------------------------------------------------------------*/

#buttons ul li:hover, .choice:hover, .Item:hover, #inventory ul li:hover { cursor:pointer; }


